<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Rango</title>
        <link rel="stylesheet" type="text/css" src="{% static "bootstrap/css/bootstrap.css" %}">
    </head>

    <body>
        <h1>{{ category }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url|urlencode }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <h3>No pages currently in category.</h3>
                <p><strong>Would you like to add page?</strong></p>
                <p><a href="{{ category }}/add_page" class="btn btn-info btn-xs">Add Page</a></p>

            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>