<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Rango</title>
        <link rel="stylesheet" type="text/css" src="{% static "bootstrap/css/bootstrap.css" %}">
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
                <a href="{% url 'add_page' %}" class="btn btn-info btn-xs">Add Page</a>

            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>