<!DOCTYPE html>
<!--{% load static %} to load images -->
<html>
  <head>
    <title>Rango</title>
  </head>
  <body>
    <h1>Rango says....hello world!</h1>

    {% if categories %}
    <ul>
      {% for category in categories %}
      {% autoescape on %}
      <li><a href="/rango/category/{{ category.url|urlencode }}">{{ category.name }}</a></li>
      {% endautoescape %}
      {% endfor %}
    </ul>
    {% else %}
      <strong>There are no categories present.</strong>
    {% endif %}
    <!--<h3>The most viewed pages are :</h3>
    <ul>
      {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>t
      {% endfor %}
    </ul> -->
    <a href="{% url 'about' %}">About</a> 
    <a href="/rango/add_category/">Add Category</a>
    <!--<img src="{% static "rango.jpg" %}" alt="Picture of Rango" /> image -->
  </body>
<html>